#main {
  background-image: url("/img/SVT_Robotics.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  border: 1px solid #34495e;
  width: 100%;
  height: 300px;
}

#robot {
  background-color: black;
  background-image: url("/img/robot1.gif");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: 100%;
  height: 200px;
  padding-bottom: 10px;
}

.heading {
  text-align: center;
  padding-top: 10px;
  font-family: 'Righteous', cursive;
  color: #0462A2;
}

.righteous {
  font-family: 'Righteous', cursive;
}

.form-control::placeholder {
  font-family: 'Righteous', cursive;
}

.mb-3 {
  padding-top: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.table-sortable th {
  cursor: pointer;
}

.table-sortable .th-sort-asc::after {
  content: "\25b4";
}

.table-sortable .th-sort-desc::after {
  content: "\25be";
}

.table-sortable .th-sort-asc::after,
.table-sortable .th-sort-desc::after {
  margin-left: 10px;
}

.table-sortable .th-sort-asc,
.table-sortable .th-sort-desc {
  background: rgba(0, 0, 0, 0.1);
}